support-for-ie  = false
vendor-prefixes = official
nibdir = '../node_modules/nib'
@import nibdir
@import 'reset'
@import 'utils'
@import 'icons'


html, body
  min-width 600px
  height 100%

body
  color txtClr
  font normal 13px/step Helvetica, arial, freesans, clean, sans-serif

header
  headGr
  text-shadow 0 1px 0 #fff
  padding step

nav
  font-size 0
  display inline-block
  padding (step/2) 0

  button,input
    btn()
    &:nth-child(1)
      radiusLeft()
    &:last-child
      radiusRight()

.search
  padding step
  input[type="radio"]
    size: (step*1.5)
    &:checked
      btnGrHov()
      text-shadow 0 -1px 0 #fff

#search
  padding 0 (step/2)
  brd()
  lh(step*2)
  border-radius 5px
  width 100%
  border none

#bookmarks
  padding (step*2)
  position relative
  ul,li,a
    vertical-align top
    position relative
  li
    transition all 0.35s
    ul
      transition all 0.35s
      padding 0 0 0 step
      overflow: hidden
      height 0
      opacity 0
      clearfix()
      brd(0 -1px 0 0 brdClr)
  .kid.row
    float left
    size: (step*2)
    > a
      size: (step*2)
      display inline-block
      overflow hidden
      &:before
        @extend $glyph
        content: '\e88b'

      &:hover
        position  absolute
        size: (step*8)
        padding (step/2)
        z-index 999
        background selClr
        font-size 12px

  .kid.col
    padding (step/2)
    border-bottom: 1px dashed #ccc
    display: inline-block
    width 25%
    &:last-child
      border none
    > a
      &:before
        @extend $glyph
        content: '\e88b'

  .dad
    brd(-1px 0 0 brdClr)
    clear both
    > a
      brd(0 -1px 0 brdClr)
      headGr()
      padding 0 (step/2)
      display block
      lh()
      &:before
        @extend $glyph
        content: '\e818'
  .show
    height auto
    > a
      btnGrHov()
      color selClr
    > ul
      opacity: 1
      height 100%