doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description", content="Bookmark Manager")
    title Bookmark Manager
    link(rel="stylesheet", href="css/main.css")

  body
    header
      form.btn-group#search
        input(type="text", id="find")
        each i in ["date","url","host","path","protocol"]
          input(type="radio", name="filter", class="ico " + i, value=i)

      //- div.btn-group#editbox
      //-   input.title(type="text")
      //-   input.url(type="text")
      //-   button.ico.save
      //-   button.ico.remove

    nav
      a(href="#root", class="btn") root
      a(href="#stage", class="btn") stage

    section.tabs.row
      ol(id="root", class="tree")
      ol(id="stage", class="tree")

    script(data-main="js/main", src="js/lib/require.js")