doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="width=device-width")
    meta(name='description', content='audio lib')
    link(rel='stylesheet', href='css/main.css')
    script(src="js/lodash.min.js")
    script(src="js/min.js")
    script(src="js/temp.js")
  body
    header

      h4 sort by
      nav

        button.ico.title title
        button.ico.date date
        button.ico.url url
        button.ico.host host
        button.ico.path path
        button.ico.protocol protocol

    div.search
      h4 search
      nav
        input(class='ico rgx-end', type="radio", name="rgx", value="end")
        input(class='ico rgx-or', type="radio", name="rgx", value="or")
        input(class='ico rgx-case', type="radio", name="rgx", value="ignore case")
        input(class='ico rgx-whole', type="radio", name="rgx", value="whole word", checked )

      input(id="search", type="text", placeholder="placeholder")

      div.results

    div#bookmarks

    script(src='js/main.js')


