doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description", content="Bookmark Manager")
    title Bookmark Manager
    link(rel="stylesheet", href="css/main.css")

  body
    header

      section.ico.nav.search
        div.btn-group
          input(type="radio", class="ico regex", value="regex", name="regex")
          input(type="radio", class="ico plain", value="plain", name="regex")
          input(id="search", type="text", placeholder="placeholder")
          button(class="ico find")
      section.ico.nav.filter
        //- label filter
        div.btn-group
          input(type="radio", name="filter", class="ico date", value="date")
          input(type="radio", name="filter", class="ico url", value="url")
          input(type="radio", name="filter", class="ico host", value="host", "checked")
          input(type="radio", name="filter", class="ico path", value="path")
          input(type="radio", name="filter", class="ico protocol", value="protocol")


      search.ico.nav.sort
        //- label sort
        div.btn-group
          button(class="ico up")
          button(class="ico down")


    div#bookmarks.bmm
    div#results.bmm
      //- section#tools
      //- h3 edit node

      //- div.btn-group
      //-   button(class="ico edit") edit
      //-   input(class="ico title", type="text")
      //-   button(class="ico remove") remove
      //- div.btn-group
      //-   button(class="ico edit") edit
      //-   input(class="ico url", type="text")
      //-   button(class="ico remove") remove


    //- section#tools
    //-   h3 edit node

    //-   div.btn-group
    //-     button(class="ico edit") edit
    //-     input(class="ico title", type="text")
    //-     button(class="ico remove") remove
    //-   div.btn-group
    //-     button(class="ico edit") edit
    //-     input(class="ico url", type="text")
    //-     button(class="ico remove") remove


    script(data-main="js/main", src="js/lib/require.js")


