//- form.ico.btn-group
//-   input(type="checkbox", name="toggle", class="ico box-6 toggle")
//-   input(type="radio", name="sort", class="ico box-3 up")
//-   input(type="radio", name="sort", class="ico box-3 down")
ol.tree