btn(bg=btnBgClr, clr=btnClr, h=sz(2,'*'))

  appearance('none')
  border-radius:0
  // display: inline-block
  padding: 0 sz(2)
  text-align: center
  height: h
  line-height: h
  background-color: bg
  color: clr

  &:hover, &:checked
    background-color: darken(bg,20)
    color: #fff


