fixLast(element = '*', property = 'padding-bottom')
  if element is '*'
    element = unquote(element)
  & > {element}:last-child
    {property} 0


/////////////////////////////////

stripe(even = #fff, odd = #eee)
  background-color odd
  &.even
  &:nth-child(even)
   background-color even

///////////////////////////////// Rhytm

sz(n=1, op='/')
  operate(op, step, unit(n, px))

lh(n=1, op='/')
  line-height: operate(op, step, unit(n, px))

///////////////////////////////// Border

border(color, args...)
  if color is a 'color'
    border: 1px solid color args
  else
    border: arguments

doFlex(a,b)
  for x in a..b
    .box-{x}
      flex: x //x auto

apply(props)
  props = arguments if length(arguments) > 1
  for prop in props
    {prop[0]} prop[1]

pos(props)
  position: absolute
  apply(arguments)

doUl()
  ul
    el = ''
    for row in 1..4
      el += ' li'
      {el}
        padding row * 10px