fixLast(element = '*', property = 'padding-bottom')
  if element is '*'
    element = unquote(element)
  & > {element}:last-child
    {property} 0

///////////////////////////////// Hsl


doHslLight(increment, start, end)
  total = start
  for x in 0..((end - start) / increment)
    for c in (0..10)
      sat = c*10
      .hsl-{x+1}-{c}
        padding step
        background: unquote('hsl(' + total + ', ' + sat + '%, 50%)')
    total = total + increment

doHsl(increment, start, end)
  total = start
  for n, x in 0..((end - start) / increment)
    .colored-{x+1}
      background: unquote('hsl(' + total + ', 100%, 50%)')
    total = total + increment

/////////////////////////////////

stripe(even = #fff, odd = #eee)
  background-color odd
  &.even
  &:nth-child(even)
   background-color even

///////////////////////////////// Rhytm

sz(n=1, op='/')
  operate(op, step, unit(n, px))

lh(n=1, op='/')
  line-height: operate(op, step, unit(n, px))

///////////////////////////////// Border

border(color, args...)
  if color is a 'color'
    border: 1px solid color args
  else
    border: arguments
