imp = unquote('!important')

///////////////////////////////// Shadow
brd()
  if arguments
    box-shadow: arguments
  else
    box-shadow: 0 0 0 1px brdClr
shd()
  if arguments
    box-shadow: arguments
  else
    box-shadow: 0 0 0 1px brdClr

//////////////////////////////////////////////////
appearance(type='none')
  -webkit-appearance: unquote(type)

//////////////////////////////////////////////////
bg()
  background: arguments || #fff

///////////////////////////////// Scroll

ellipsis()

  if arguments
    display: block
    max-width: 100%

  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

///////////////////////////////// Scroll
scrollY()
  overflow-x: hidden
  overflow-y: auto

scrollX()
  overflow-y: hidden
  overflow-x: auto


///////////////////////////////// Radius

rd(n = 3px)
  border-radius n

radTop(n = 3px)
  border-radius n n 0 0

radBottom(n = 3px)
  border-radius 0 0 n n

radLeft(n = 3px)
  border-radius n 0 0 n

radRight(n = 3px)
  border-radius 0 n n 0

///////////////////////////////// PosBox

circle()
  border-radius 50%

.left
  float: left
  margin: 0 step step 0

.right
  float: right
  margin: 0 0 step step

///////////////////////////////// Gr

rhytmGr()
  background: bgClr linear-gradient(0deg, #fff 50%, transparent 50%, transparent) repeat-y;
  background-size: 100% sz(2,'*')


