step = 16px

txtClr = #333
bgClr = #eee

_txt = #555

_ca = salmon
_green1 = palegreen
_green2 = mediumaquamarine
_green3 = darkseagreen

// _cAlt = saturate(_cb, 10)

actClr = paleturquoise

btnClr = crimson

brdClr = darksalmon
btnBgClr = brdClr