dirColor  = #777
itemColor = teal

.bmm
  padding step
  font-size: 12px
  box-sizing: border-box
  vertical-align: top

  ul,li,b,q
    vertical-align top
    position relative
    ellipsis()

  li
    stripe(#f0f0f0, #f5f5f5)
    transition all 0.35s

    input[type="checkbox"]
      inputStyle()

    label
      display inline-block
      color dirColor
      margin-left step

  li[data-children]

    > ul
      transition all 0.35s
      padding 0 0 0 step
      max-height 0
      opacity: 0

    > label
      lh(step*1.5)
      &[contenteditable]
        background: #fff
        padding: (step/4)

    > input[type="checkbox"]
      lh(step*1.5)
      position: absolute
      size: 100% (step*1.5)

      &:checked ~ ul
        max-height 9999px
        opacity: 1

  li:not([data-children])
    padding (step/4)
    > q
      display none

  li.editNode

    w = (step/8)
    padding 0 imp()
    background brdClr
    outline none
    margin step 0
    rd()
    > input
      display none
    > label,
    > q
      background: #fff
      padding: (step/4)
      margin: w (step*2)
      display: block imp()
      &:focus
        background lightyellow
        outline none

    > button
      btn()
      width ((step*2) - (step/4))
      font-size: step
      position absolute
      top w
      bottom w

      &:first-child
        radiusLeft()
        left w
      &:last-child
        radiusRight()
        right w

