#bookmarks, #results
  position relative
  display: inline-block
  padding: step
  max-width: 45%
  box-sizing: border-box
  vertical-align: top

  ul,li,a
    vertical-align top
    position relative

  li ul
    brd(0 -1px 0 0 brdClr)

  li[data-children]
    brd(-1px 0 0 brdClr)
    transition max-height 0.25s
    max-height (step*2)
    > ul
      transition opacity 0.35s
      padding 0 0 0 step
      opacity: 0
    > a
      brd(0 -1px 0 brdClr)
      headGr()
      padding 0 (step/2)
      display block
      lh()

  li.show[data-children]
    max-height 9999px
    > ul
      opacity: 1
    > a
      btnGrHov()
      color selClr

  li:not([data-children])
    padding (step/2)
    border-bottom 1px dashed #ccc
    // display inline-block
    // width 25%
    // .results &
    //   display block !important
    //   width 100% !important
    &:last-child
      border none
