iconFont(path, fnt)
  @font-face
    font-family: fnt
    src: url(path + '/' + fnt + '.eot')
    src: local('☺'), url(path + '/' + fnt + '.ttf') format('truetype'), url(path + '/' + fnt + '.svg#' + fnt) format('svg')
    font-weight: normal
    font-style: normal

iconFont('../css/font', 'fontello')

$glyph
  font-family: "fontello"
  display: inline-block
  text-decoration: none
  margin-right: 4px
  font-weight: normal
  font-style: normal

.ico:before
  @extend $glyph


.ico.sort
  .ico.up:before
    content "\e824"
  .ico.down:before
    content "\e827"

.ico.filter
  .title:before
    content: "\e809"
  .date:before
    content: "\e81d"
  .url:before
    content: "\e80b"
  .host:before
    content: "\e866"
  .path:before
    content: "\e861"
  .protocol:before
    content: "\e86a"

.ico.find:before
  content: "\e800"
.ico.regex:before
  content: "\e881"
.ico.plain:before
  content: "\e89d"


.ico.remove:before
  // content: "\e873"
  content: "\e816"
.ico.edit:before
  // content: "\e80c"
  content: "\e864"
.ico.save:before
  content: "\e872"
.ico.cancel:before
  content: "\e873"

li > .ico.toggle:before
  content: '\e806'

[data-children]
  > .ico.toggle
    &:before
      content: '\e893'
    &:checked
      &:before
        content: '\e894'