
.layout
  display flex
.layout.base
  flex-basis:12

.row, .col, .layout
  box-shadow 0 0 0 1px lighten(brdClr,20)

.row
  display flex
  flex-direction: row
.col
  display flex
  flex-direction: column

doFlex(1,12)
.pad
  padding sz(2)