support-for-ie  = false
vendor-prefixes = official
nibdir = '../node_modules/nib'
@import nibdir
@import 'reset'
@import 'utils'
@import 'icons'

html, body
  height 100%

.hidden
  display: none

body
  color txtClr
  font-size: 12px
  lh(1,'*')
  font-family: Helvetica, arial, freesans, clean, sans-serif

.dev
  rhytmGr()

sidebarWidth = sz(24, '*')

scrollAxis()
  overflow-x: arguments ? auto : hidden
  overflow-y: arguments ? hidden : auto

#bookmarks
  width sidebarWidth
  box-shadow 1px 0 0 brdClr
  fixed(top left)
  bottom: 0
  scrollAxis()

#results
  position: fixed
  top: sz(5, '*')
  left: sidebarWidth
  bottom: 0
  right: 0
  scrollAxis()

header
  margin-left sidebarWidth
  box-shadow 0 1px 0 brdClr

#editPopup
  display: none
  margin: 25%
  rd(5px)
  bg()
  padding step
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.5)


@import 'nav'
@import 'tree'