@import 'utils/vars'
@import 'utils/shortcuts'
@import 'utils/functions'
@import 'utils/colors'
@import 'layout'
@import 'reset'

html, body
  height 100%

body
  color txtClr
  font-size: 12px
  lh: 1
  font-family: Helvetica, arial, freesans, clean, sans-serif

.hue
  display: inline-table
.sat
  display: table-row
.lum
  display: table-cell
  padding step

header
  padding step
  box-shadow: 0 1px 0 #ccc
.tabs
  display flex
  pos: top sz(6,'*'), left 0px, bottom 0px, right 0px
  > *
    box-shadow: 1px 0 0 #ccc
    flex 1
    transition all .4s
    &:target
      flex 7


@import 'icons'
@import 'nav'
@import 'tree'