.nav
  position: relative
  display: inline-block
  padding step
  box-shadow: 1px 0 0 brdClr;

form.hslColors
  rd()
  display: inline-block
  padding-top: sz(4,'*')
  box-shadow: 0 0 0 1px brdClr
  overflow: hidden
  word-spacing -3px
  vertical-align: bottom
  select
    btn()
    box-shadow: 0 0 0 1px darken(brdClr,10)
    &:first-child
      border-radius 0 0 0 3px
    &:last-child
      border-radius 0 0 3px 0


input[type="text"], input[type="number"]
  background: #fff
  padding: 0 sz(2)
  box-shadow: 0 0 0 1px brdClr
  lh(2,'*')

.btn-group
  display: inline-block
  word-spacing -3px
  vertical-align: middle

  button, input[type="radio"], input[type="checkbox"]
    btn()
  button, input
    box-shadow: 0 0 0 1px darken(brdClr,10)
    &:first-child
      radLeft()
    &:last-child
      radRight()
