.nav
  position: relative
  display: inline-block
  padding step
  box-shadow: 1px 0 0 brdClr;

  label
    position: relative
    display: inline-block
    padding-right: sz(4)

input[type="text"]
  background: #fff
  padding: 0 sz(2)
  box-shadow: 0 0 0 1px brdClr
  lh(2,'*')

.btn-group
  display: inline-block
  word-spacing -3px
  vertical-align: middle

  button, input[type="radio"], input[type="checkbox"], a
    btn()
  button, input, a
    box-shadow: 0 0 0 1px darken(brdClr,10)
    &:first-child
      radLeft()
    &:last-child
      radRight()

  input[type="text"]
    display: inline-block
