
.tree
  padding: step
  box-sizing: border-box
  overflow-y: auto
  ol
    display none
  li
    lh:1
    padding-left: sz()
    vertical-align top
    position relative
    min-height step
    &:before
      display: inline-block
      content: ''
      position: absolute
      height: sz()
      border-left: 1px solid
      border-bottom: 1px solid
      box-sizing: border-box
      border-color: tan
    span
      ellipsis()
    &:hover
      > span
        bg: #eee
      > b
        padding: 0 sz(2)
        width: auto
        opacity: 1
        z-index: 999
      > .bEdit
          margin-right: sz(2)
      > .bRemove
          margin-left: sz(2)

    b
      position: relative
      transition all .4s
      width: 0
      opacity: 0
      display: inline-block
      cursor: pointer
      color: #fff
      border-radius 3px

    .bEdit
      bg: _green2
      &:hover
        bg: darken(_green2, 20)
    .bRemove
      bg: _red
      &:hover
        bg: darken(_red, 20)

  li.kid:before
    width: sz()
    left: sz(-2)

  li.dad:before
    width: sz()
    left: sz(-2)

  li.kids-0
    color crimson imp

  li.kid
    padding-left: sz(2)

  li input
    appearance:none
    pos: top 0, left 0
    lh:1
    width: 100%

    &:before
      color: brdClr

    &:checked ~ ol
      display: flex
      flex-flow: column
      > .dad
          order 1
      > .kid
          order 3
      > .kids-0
          order 2
  .modified
    color: darken(_green2, 10)