.bmm
  ol
    ol
      display none
  li
    padding 0 0 0 step
    lh(step*1.5)
    vertical-align top
    position relative
    input
      inputStyle()
      lh(step*1.5)
      cursor pointer
      float left
      margin-right: (step/4)
      &:checked ~ ol
        display block

    label
      cursor pointer
      ellipsis()
    button
      btn()
      transition all 0.35s
      position: absolute
      rd()
      padding 4px
      opacity: 0

    &:hover
      > button
        opacity: 1
        left -8px