.bmm
  padding: step
  box-sizing: border-box
  ol ol
    display none

  li
    padding: 0 0 0 step
    vertical-align top
    position relative
    min-height step
    lh(1,'*')
    input
      inputStyle()
      absolute(top, left)
      width: 100%
      min-height step
      lh(1,'*')
      &:before
        color: brdClr
      &:checked ~ ol
        display block
      &:hover
        bg(actClr)

    label
      ellipsis()
    // button
    //   btn()
    //   transition all 0.35s
    //   position: absolute
    //   rd()
    //   padding sz(4)
    //   opacity: 0

    // &:hover
    //   > button
    //     opacity: 1
    //     left -sz(2)