@import 'utils/vars'
@import 'utils/shortcuts'
@import 'utils/functions'
@import 'utils/buttons'

rhytmGr()
  background: bgClr linear-gradient(0deg, #fff 50%, transparent 50%, transparent) repeat-y;
  background-size: 100% sz(2,'*')
